@charset "UTF-8";

h1 {
  text-align: center;
  color: blue;
}

#slideShow {
  width: 276px;
  height: 200px;
  margin: 30px auto;
}

#slideShow img{
		opacity: 0;
		position: absolute;
	}
	#slideShow .img1{
		opacity: 1;
	}
