@charset "utf-8";

.accordion, h1 {
  text-align: center;
}

h1 {
  color: red;
}
h2 {
  margin: 0 auto;
  border: 1px solid black;
  display: block;
  background-color: red;
  color: white;
  width: 20%;
  text-align: center;
}

.hide {
  display: none;
}

p {
  display: block;
  width: 20%;
  margin: 20px auto;
}

.add {
  display: block;
}
