@charset "utf-8";

.accordion, h1 {
  text-align: center;
}

h1 {
  color: red;
}
dl {
  margin: 0 auto;
  border: 1px solid black;
  display: block;
  width: 20%;
}

dl dt {
  background-color: orangered;
  color: white;
  font-weight: bold;
  text-align: center;
}
.hide {
  display: none;
}

p {
  display: block;
  width: 20%;
  margin: 20px auto;
}

.add {
  display: block;
}
