@charset "UTF-8";

h1 {
  color: purple;
  text-align: center;
}


.pc-nav ul li .Wrap {
  position: absolute;
  top: 15%;
  left: 0;
  overflow: hidden;
  display: none;
  width: 100%;
  height: 45vh;
  background: rgba(0,0,0,0.6);
}
.Wrap .wrapInner {
  margin: 30px auto 0;
  width: 960px;
  height: 360px;
  background: #FFF;
  border-radius:8px;
}
.pc-nav ul li:hover:after{
  display:block;
  content: "";
  border: 10px solid transparent;
  border-bottom: 18px solid #fff;
  position: absolute;
  top: 120px;
  margin-left: 5%;
  z-index: 1000;
}

ul {
  display: block;
  width: 804px;
  list-style-type: none;
  padding-left: 0;
  margin: 30px auto;
}

ul li {
  display: block;
  width: 200px;
  float: left;
  background-color: purple;
  text-align: center;
  border-left: 1px solid white;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 125%;
  font-weight: bold;
  padding: 20px auto;
}
