@charset "UTF-8";

h1 {
  text-align: center;
  color: teal;
}

ul {
  list-style-type: none;
  margin: auto;
  padding-left: 0;
}
ul li {
  color: white;
  font-weight: bold;
  font-size: 125%;
}
.tab {
  overflow: hidden;
  width: 90%;
}
.tab li {
  background:#ccc;
  width: 25%;
  float: left;
}
.tab li.select {
  background: teal;
}
.content li {
  background: teal;
  width: 90%;
  height: 700px;
  margin: auto;
  padding-top: 20px;
}
.hide {
  display: none;
}
