@charset "UTF-8";

h1 {
  text-align: center;
  color: blue;
}
p {
  width: 560px;
  height: 400px;
  background-color: blue;
  color: white;
  font-weight: bold;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 0;
}


.slidePanel {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  text-align: center;
  position: relative;
}

.slideWrap {
  margin: 20px auto 100px auto;
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: absolute;
}

.slidePanel ul {
  top: 0;
  left: 0;
  position: absolute;
}
.slidePanel ul li {
  padding: 0 20px;
  width: 600px;
  text-align: center;
  float: left;
  display: inline;
  box-sizing: border-box;
}


.slidePanel .btnPrev, .slidePanel .btnNext {
  top: 45px;
  width: 30px;
  height: 30px;
  position: absolute;
  transition: all 0.2s ease-in-out;
}
.slidePanel .btnPrev {
  left: -35px;
  background-image: transparent url(../css/arrow_left.png);
  background-repeat: no-repeat;
  background-position: top left;
}
.slidePanel .btnNext {
  right: -35px;
  background-image: transparent url(../css/arrow_right.png);
  background-repeat: no-repeat;
  background-position: top left;
}
.slidePanel .btnPrev:hover, .slidePanel .btnNext:hover {
  opacity: 0.6;
}

.pagiNation {
  bottom: -90px;
  left: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  position: absolute;
  z-index: 110;
}
.pagiNation a {
  margin: 20px 2px;
  width: 109px;
  height: 80px;
  display: inline-block;
  overflow: hidden;
  background: blue;
  color: white;
  transition: all 0.2s ease-in-out;
}
.pagiNation a:hover {
  opacity: 0.6;
}
.pagiNation a.pnActive {
  background: navy;
}
.pagiNation a.pnActive:hover {
  opacity: 1;
}
