@charset "UTF-8";

h1 {
  text-align: center;
  color: blue;
}
p {
  width: 640px;
  height: 426px;
  background-color: blue;
  color: white;
  font-weight: bold;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 0;
}


.slidePanel {
  margin: 0 auto;
  width: 680px;
  height: 426px;
  text-align: center;
  position: relative;
}

.slideWrap {
  margin: 20px auto 100px auto;
  width: 680px;
  height: 510px;
  overflow: hidden;
  position: absolute;
}

.slidePanel ul {
  top: 0;
  left: 0;
  position: absolute;
}
.slidePanel ul li {
  padding: 0 20px;
  width: 680px;
  text-align: center;
  float: left;
  display: inline;
  box-sizing: border-box;
}


.slidePanel .btnPrev, .slidePanel .btnNext {
  top: 45px;
  width: 30px;
  height: 30px;
  position: absolute;
  transition: all 0.2s ease-in-out;
}
.slidePanel .btnPrev {
  left: -35px;
  background-image: transparent url(../css/arrow_left.png);
  background-repeat: no-repeat;
  background-position: top left;
}
.slidePanel .btnNext {
  right: -35px;
  background-image: transparent url(../css/arrow_right.png);
  background-repeat: no-repeat;
  background-position: top left;
}
.slidePanel .btnPrev:hover, .slidePanel .btnNext:hover {
  opacity: 0.6;
}

.pagiNation {
  bottom: -90px;
  left: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  position: absolute;
  z-index: 110;
}
.pagiNation a {
  margin: 30px 4px;
  width: 122px;
  height: 80px;
  display: inline-block;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.pagiNation a:hover {
  opacity: 0.6;
}
.pagiNation a.pn1, .pagiNation a.pn2, .pagiNation a.pn3, .pagiNation a.pn4, .pagiNation a.pn5 {
  opacity: 0.3;
}
.pagiNation a.pnActive {
  opacity: 1;
}
.pagiNation a.pnActive:hover {
  opacity: 1;
}

.pagiNation a.pn1 {
  background-image: url(../images/slide01.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.pagiNation a.pn2 {
  background-image: url(../images/slide02.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.pagiNation a.pn3 {
  background-image: url(../images/slide03.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.pagiNation a.pn4 {
  background-image: url(../images/slide04.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.pagiNation a.pn5 {
  background-image: url(../images/slide05.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
